.red{
  color: red;
  text-emphasis-color: red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero {
  
   height: 300px;
   background-size: cover;
   background-position: center;
   position: relative;
}

.hero h3 {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: cadetblue;
  padding: 5px;
  border: 1px solid black;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}


nav ul li{
  display:inline
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap:20px;
  padding: 5px;
}

.grid-item-side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  border-right: 3px black solid;
  text-align: center;
  line-height: 400px; 
  font-weight: bold;
  font-size: 3em;
    
}

.grid-item1 {
  
  background-image: url('./components/Gallery/ScreenShots/zing1.png');
  background-size:contain;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  border: 3px black solid;
  min-height: 700px;
}

.grid-item2 {
  background-image: url('./components/Gallery/ScreenShots/iCamp1.png');
  border: 3px black solid;
}

.grid-item3 {
  background-image: url('./components/Gallery/ScreenShots/zing2.png');
  background-position: center;
  border: 3px black solid;
}

.grid-item4 {
  background-image: url('./components/Gallery/ScreenShots/iCamp2.png');
  border: 3px black solid;
  background-position: center;
  background-size: 99%;
}

.grid-item5 {
  background-color: brown;
  border: 3px black solid;
}

.grid-container-about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  grid-gap:20px;
  padding: 5px;

}

.about-item-side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-right: 3px black solid;
  text-align: center;
  line-height: 200px; 
  font-weight: bold;
  font-size: 3em;
    
}

.about-item1 {
  grid-column-start: 2;
  grid-column-end: 4;
  
}

nav{
  margin: 10px;
  background-color: rgb(49, 49, 49);
}

nav ul li a{
  margin: 0px 40px;
  font-size: 1.8em;
  color: white;
}
span{
  margin: 0px 40px;
  font-size: 1.8em;
  color: white;
}
.bannerName {
  font-size: 5em;
}

header h1 {
  font-size: 5em;
}